
$container-width: 90%;
$btn-footer-bg-color: black;
$text-color:  #4E4E4E;
$menu-item-line-hover: lightgrey;
$menu-item-hover: #57A4A4;
$menu-bg: white;
$btn-menu-height: 37px;
$comment-sub-color: #7C7C7C;
$footer-title-color: #FEFEFE;
$footer-text-color: #B9B9B9;
$icon-border-size: 34px;
$icon-number: 5;
$icon-rss-color: #F8902E;
$icon-fb-color: #39599F;
$icon-twit-color: #45B0E3;
$icon-drib-color: #D97AB0;
$icon-pin-color: #CC212C;
$max-post-text-width: 500px;

$col: 1;





